 h1{
        margin: 30px;
        text-align: center;
         height: 10px;
      }


        label{
             color:  #444;
        }

        legend{
            color: #555;
        }

        input{
            margin: 10px;
            padding-right: 10px;
        }
     body{
       
        height: 40px;
        background-color:  #ddd;
     }

     fieldset{
         border-color:  #ddd;
       margin: 20px;
     }


     select:invalid{
           border: 2px solid red;
     }

     select:valid{
           border: 2px solid #007BFF
     }

     form{
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        background-color: white;
     }

     div{
        display: flex;
        flex-direction: row;
     }

    .tt{
        border: #f5f5f5;
        background-color: #007BFF;
        color: white;
     }

    .tt:hover{
        background-color: #0056b3;
      }

      input:focus, input:focus-visible, select:focus{
        border-color: #ff000d;
        outline: #ff000d;
      }

       input:invalid {
            border: 2px solid red;
        }

         input:valid {
            border: 2px solid #007BFF
        }

      .te{
        display: flex;
        flex-direction: row;
      }

      input[type="text"]{
        width: 500px; 
        height: 30px;
      }

       input[type="email"]{
          height: 30px;
       }
        input[type="time"]{
          width: 500px; 
          height: 30px;
       }

       input[type="password"]{
       
         width: 196px; 
         height: 30px;
       }
       
       .tel{
        margin-left: 70px;
       }

       .selecte{
         margin: 5px; 
         width: 90%;
         height: 30px; 
         width: 520px;
       }

       
       input[type="date"]{
         width: 500px ;
         height: 30px;
       }

       input[type="radio"]{
        margin-right: 50px;
        display: inline-block;
       }

       .ee{
        display: none;
       }

       input[type="date"]:valid ~ .ee {
        display: block;
       }

       .rad{
        display: inline;
       }





      
     @media screen and (max-width: 600px) {

      h1{
        font-size: 30px;
      }

       form{
        width: 300px;
       }

             input[type="text"]{
        width: 200px; 
        height: 30px;
      }

       input[type="email"]{
          height: 30px;
          width: 200px;
       }

       input[type="password"]{
       
         height: 20px;
         width: 200px; 
         height: 30px;
       }
       
       .tel{
        margin-left: 0px;
       }

       .selecte{
         margin: 5px; 
         height: 30px; 
         width: 200px;
       }

       
       input[type="date"]{
         width: 200px ;
         height: 30px;
       }

       input[type="time"]{
         width: 200px ;
         height: 30px;
       }


       .te{
        display: flex;
        flex-direction: column;
       }





      fieldset{
        margin: 10px;
        height: 250px;
      }

      h1{
        height: 20px;
      }


      .time{
        display: block;
      }
      
     input{
      margin-left: 0px;
     }


     .rad{
      display: grid;
     }
       

      

}
